@model IEnumerable<SMC.WebApi.Models.MuralModel>

      <div class="panel-body">
          <br>
          <br>
          <div class="panel-heading">Informações gerais</div>
          <div class="panel-body">
              <table class="table">
                  <thead>
                      <tr>
                          <th>#</th>
                          <th>Título</th>
                          <th>Conteúdo</th>
                          <th>Arquivos adicionados</th>
                          <th>Comentários</th>
                          <th></th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <th scope="row">3</th>
                          <td>Reunião de pais</td>
                          <td>Nossa reunião bimestral acontecera em...</td>
                          <td>1</td>
                          <td>22</td>
                          <td><a href="#">Editar</a></td>
                          <td class="excluir"><a href="#">Excluir</a></td>
                      </tr>
                  </tbody>
                  <tbody>
                      <tr>
                          <th scope="row">3</th>
                          <td>Lista Escolar</td>
                          <td>Lista escolar 2016 ...</td>
                          <td>2</td>
                          <td>59</td>
                          <td><a href="#">Editar</a></td>
                          <td class="excluir"><a href="#">Excluir</a></td>
                      </tr>
                  </tbody>
                  <tbody>
                      <tr>
                          <th scope="row">1</th>
                          <td>Aviso</td>
                          <td>A escola estará fechada a partir de 28/12/2015 retornando as atividades em ...</td>
                          <td>3</td>
                          <td>59</td>
                          <td><a href="#">Editar</a></td>
                          <td class="excluir"><a href="#">Excluir</a></td>
                      </tr>
                  </tbody>
                  <a href="Mural/Create"><button type="submit" class="btn btn-default">Criar comunicado</button></a>

              </table>
          </div>
      </div>