@model IEnumerable<SMC.WebApi.Models.MuralModel>

      <div class="panel-body">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Título</th>
                <th>Conteúdo</th>
                <th>Arquivos adicionados</th>
                <th>Comentários</th>
                <th></th>
                <th></th>
            </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>Titulo</td>
                        <td>@item.Conteudo</td>
                        <td>0</td>
                        <td>@item.Curtidas</td>
                        <td><a href="editar.html">Editar</a></td>
                        <td class="excluir"><a href="editar.html">Excluir</a></td>
                    </tr>
                </tbody>
            }
         
          <a href="comunicado.html"><button type="submit" class="btn btn-default">Criar comunicado</button></a>

        </table>
      </div>